<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:camel="http://camel.apache.org/schema/spring"
    xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://camel.apache.org/schema/spring
       http://camel.apache.org/schema/spring/camel-spring.xsd">

    <!--
        Simple camel route which send every one minute a message on the console.
    -->

   	<bean id="properties" class="org.apache.camel.component.properties.PropertiesComponent">
    	<property name="location" value="classpath:settings.properties"/>
	</bean>
	 
	<bean id="springApplicationContext" class="org.vidad.spring.SpringApplicationContext"/>	 
 	<bean id="awsCredentials" class="com.amazonaws.auth.BasicAWSCredentials">
		<constructor-arg value="1W635RJ28119X0X06J02" />
		<constructor-arg value="DWovoClq4FVLL+9oLuMQi8ra/2epyKECgzb0jqQP" />
	</bean>
		<bean id="awsClientConfiguration" class="com.amazonaws.ClientConfiguration">
	</bean>
	
	<bean id="sqsClient" class="com.amazonaws.services.sqs.AmazonSQSClient">
		<constructor-arg ref="awsCredentials" />
		<constructor-arg ref="awsClientConfiguration" />
	</bean>

<!--     <camelContext xmlns="http://camel.apache.org/schema/spring">
        <route id="timer-to-console">
            <from uri="timer://foo?fixedRate=true&amp;period=10s"/>
            <transform>
               <simple>Hello Web Application, how are you?</simple>
            </transform>
            <to uri="stream:out"/>
        </route>
    </camelContext>
 -->
</beans>
